<h1><%= @list.name %></h1>

  <ul>
  <% @movies.each do |movie| %>
    <li <%= movie.title %> >
      <p><%= movie.overview %></p>
      <%= image_tag movie.poster_url, height: 200 %>
      <p><%= movie.rating %></p>
      <% bookmark = movie.bookmarks.find_by(list: @list)  %>
      <%= link_to("Delete", bookmark_path(bookmark), method: :delete ) %>
    </li>
    <% end %>
  </ul>

  <%= link_to("Add a movie 🪄", new_list_bookmark_path(@list)) %>
